* {
    margin: 0;
    padding: 0;

}





.reg{
    width:270px;
    margin:0 auto

}
.reg label{
    font-size: 20px;
    color:#000
}
.reg span{
    color:red;
}
.reg input{
    height:30px;
    width:250px;
    margin-bottom: 10px;
    background: #c0c0c0;
    border:transparent;
    color:#fff;
}
 button{
    padding:10px ;
    background: #c0c0c0;
    color:#fff;
   border:transparent;
    border-radius: 6px;
    margin-top:10px;
     width:100px
}
 button:hover{
    background:red;
}
a {
    color: #d38484;

}

a:hover {
    color: #efdea0;
}

a, a:hover {
    -webkit-transition: all.6s ease;
    text-decoration: none;
    transition: all .6s ease;
}
.click{
    padding:5px ;
    background: #c0c0c0;
    color:#fff;
    border:transparent;
    border-radius: 6px;
    margin-top:10px;
    width:125px !important;
}
.click:hover{
    background:red;
}

/* headeri mas@ */

header {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-bottom: 2px solid silver;
    margin-bottom: 20px;
}

header #logo {
    width: 30%;
    float: left;

}

header #logo a {
    color: #939393;

    font-size: 2em;
    font-family: Times New Roman, sans-serif;
}

header #logo span {
    color: #e36464;
}

header #menuHead {
    width: 16%;
    float: right;
}

header #menuHead div {
    float: left;
    padding: 5px;
    background: #c8c8c8;
    border-radius: 5px;
    color: #ffffff;

}

header #menuHead div:hover {
    background-color:red;

}

header #redAuth {
    width: 30%;
    float: left;
    text-align: right;
    font-size: 1.2em;
}
h3{
    text-transform: uppercase;
    color:green;
}
#message{
    color:red;
    text-transform: uppercase;
}